.breadcrumbs {
  margin-bottom: 26px;

  @media (min-width: $breakpoint-small) {
    margin-bottom: 27px;
  }

  & > * {
    color: rgba($color-black, 0.6);
    text-decoration: none;
  }

  &__back {
    display: inline-flex;
    align-items: center;

    & svg {
      height: $arrow-size;
      width: $arrow-size;
      margin-right: percent-view(13px, $fhd-width, 'w');
      fill: $color-red;
    }
  }
}
