.button {
  display: inline-block;
  position: relative;
  @include font-button;
  font-family: $font-family;
  font-weight: 600;

  height: 64px;
  line-height: 64px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

  padding: 0 24px;

  border: 1px solid rgba($color-red, 0.4);
  background-color: #fff;
  overflow: hidden;

  transition: all var(--transition);
  z-index: 1;
  cursor: pointer;

  &:hover,
  &:focus {
    border-color: $color-red;
    text-decoration: none;
  }

  &__sidebar {
    font-weight: 500;
    text-transform: none;
    & svg {
      width: 32px;
      height: 32px;
      margin-right: 24px;
    }
  }
}

[ripple] {
  position: relative;
  overflow: hidden;
}
[ripple] .ripple--container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
[ripple] .ripple--container span {
  transform: translate(-50%, -50%) scale(0);
  border-radius: 100%;
  position: absolute;
  opacity: 0.75;
  background-color: $color-red;
  animation: ripple var(--transition);
}

@keyframes ripple {
  to {
    opacity: 0;
    transform: translate(-50%, -50%) scale(2);
  }
}
