.content {
  $base-margin: 25px;

  & h1 {
    margin-bottom: percent-view($base-margin * 1.2);
    margin-top: percent-view($base-margin * 3.36);
    //todo margins 2.05x of font size
  }

  & h3 {
    margin-top: percent-view($base-margin * 1.92);
    margin-bottom: percent-view($base-margin * 0.8);
  }
  & h2 {
    margin-top: percent-view($base-margin * 2.8);
    margin-bottom: percent-view($base-margin);
  }

  & p {
    margin: calc(#{$base-margin * 0.8}) 0;
  }

  & ul,
  & table,
  & dl {
    margin: calc(#{$base-margin * 0.8}) 0;
  }

  &__slider {
    margin-bottom: percent-view(46px);
    margin-right: -#{$right-margin};

    &-item {
      height: responsive-value(
        391px,
        594px,
        $mobile-min-width,
        $fhd-width,
        'w'
      );
      width: auto;
      margin-right: $column-margin;
    }
    &-link {
      display: block;
      height: 100%;

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &-nav {
      position: relative !important;
    }
  }
}
