.history {
  position: relative;
  overflow: hidden;
  padding: percent-view(100px) calc(#{$column-width}) percent-view(100px)
    $container-margin;

  &__bg {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    z-index: -1;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: rgba($color-gray, 0.4);
      z-index: 1;
    }
    & img,
    & video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;

    @media (min-width: $breakpoint-medium) {
      flex-direction: row;
    }
  }

  &__accordion {
    color: $color-white;

    @media (min-width: $breakpoint-medium) {
      flex: 0 0 calc(#{$column-width} * 4 - #{$column-margin});
    }

    &-item {
      padding: percent-view(30px) 0;
      position: relative;
      // border-bottom: 1px solid $color-red;

      &:before,
      &:after {
        content: '';
        display: block;
        position: absolute;
        top: -1px;
        left: 0;
        width: 50%;
        border-top: 1px solid $color-red;
      }
      &:after {
        // border-top: none;
        top: auto;
        bottom: 0;
      }
      &:first-child {
        // border-top: 1px solid $color-red;
      }

      &.uk-open {
        & .history__accordion-title {
          margin-left: 0;

          & svg {
            opacity: 1;
            fill: $color-red;
          }
        }
        & .history__accordion-content-right {
          opacity: 1;
          transition-delay: 0.3s;
          transform: scale(1);
        }
      }
    }

    &-title {
      @include font-h2;
      text-decoration: none;
      color: rgba($color-white, 0.6);

      @include menu-item-arrow;

      align-items: center;

      & svg {
        top: 0;
      }
    }

    &-content {
      display: flex;
      margin-top: percent-view(29px);

      &-grid {
        width: 100%;
        display: flex;
      }
      &-left {
        flex: 0 0 calc(#{$column-width} * 4 - #{$column-margin});
      }

      &-right {
        position: relative;
        flex: 0 0 calc(#{$column-width} * 3 + #{$column-margin});
        max-width: calc(#{$column-width} * 3 + #{$column-margin});
        // transition: all var(--transition);
        // opacity: 0;
        // transform: scale(0.9);
      }
      &-title {
        @include font-h1;
        margin-bottom: percent-view(35px);
      }

      &-text {
        @include font-lead;

        & * {
          color: $color-white;
        }
      }
    }
  }

  &__swiper {
    padding-left: $column-width;
    position: relative;
    padding-bottom: percent-view(50px);

    // position: absolute;
    // right: 0;

    & .swiper-wrapper {
      max-width: 100%;
    }

    &-wrap {
      position: relative;
      margin-top: percent-view(100px);

      @media (min-width: $breakpoint-medium) {
        flex: 0 0 calc(#{$column-width} * 3 + #{$column-margin});
        max-width: calc(#{$column-width} * 3 + #{$column-margin});
      }

      &:before {
        content: '';
        display: block;
        position: absolute;
        width: percent-view(404px);
        height: percent-view(404px);
        border: 1px solid $color-red;
        border-radius: 50%;
        left: percent-view(80px);
        top: percent-view(-121px);
      }
    }

    &-item {
      opacity: 0;
      transition: all var(--transition);
      max-width: 100%;

      &.swiper-slide-active {
        opacity: 1;
      }

      &-text {
        @include font-h2;
        color: $color-white;
      }
    }

    &-count {
      @include font-h2;
      font-weight: 400;
      position: absolute;
      right: calc(#{$column-width} * 3 - #{$column-margin} * 2);
      top: 0;
      color: $color-red;
      display: flex;
    }
    &-current {
      position: relative;
      margin: 0;
      padding: 0;
      width: 20px;
      text-align: right;

      & li {
        counter-increment: slide-counter;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;

        &:before {
          content: counter(slide-counter);
        }

        &.uk-active {
          opacity: 1;
        }
      }
    }
    &-overall {
      &:before {
        content: '/';
      }
    }
    &-nav {
      margin-left: calc(#{$slide-arrow-width} * -1);
      &--left,
      &--right {
        opacity: 0.6;
        &:before {
          background-color: $color-red;
        }
        & svg {
          fill: $color-red;
        }
        &:hover {
          opacity: 1;
          &:before {
            background-color: $color-red;
          }
          & svg {
          }
        }
      }
    }
  }
}
