.intro {
  position: relative;
  margin-top: -#{$header-height};

  &__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: $color-gray;
    z-index: -1;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      opacity: 0.6;
    }
    & video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0.6;
    }
  }

  &__content {
    width: 100vw;
    height: 100vh;

    padding: percent-view(176px, $fhd-height, 'h') $right-margin
      percent-view(81px, $fhd-height, 'h') $container-margin;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &-1 {
      @include font-h1;
      font-size: 2.4rem;
      line-height: 1.333;

      font-weight: 500;
      color: #fff;

      margin-bottom: percent-view(48px, $mobile-min-width, 'w');
      flex: 0 0 auto;

      @media (min-width: $breakpoint-small) {
        $fhd-base-size: 5 * $base-font-size;
        $tablet-base-size: $fhd-base-size * 0.5;

        font-size: calc(
          #{responsive-value(
              $tablet-base-size / 2,
              $fhd-base-size / 2,
              $breakpoint-small,
              $fhd-width,
              'w'
            )} + #{responsive-value(
              $tablet-base-size / 2,
              $fhd-base-size / 2,
              $mobile-min-height,
              $fhd-height,
              'h'
            )}
        );
        line-height: 1.12;

        margin-bottom: 0;
      }

      @media (min-width: $breakpoint-medium) {
        width: 60%;
      }

      span {
        color: $color-red;
      }
    }

    &-2 {
      @include font-h2;
      font-weight: 500;
      color: #fff;
      line-height: 1.75;
      margin-bottom: percent-view(48px, $mobile-min-width, 'w');

      left: $container-margin;
      flex: 1 0 auto;

      @media (min-width: $breakpoint-small) {
        $fhd-base-size: 3.4 * $base-font-size;
        $tablet-base-size: $fhd-base-size * 0.5;
        font-size: calc(
          #{responsive-value(
              $tablet-base-size / 2,
              $fhd-base-size / 2,
              $breakpoint-small,
              $fhd-width,
              'w'
            )} + #{responsive-value(
              $tablet-base-size / 2,
              $fhd-base-size / 2,
              $mobile-min-height,
              $fhd-height,
              'h'
            )}
        );
        line-height: 1.17;
        width: calc(#{$column-width} * 3);
        right: $container-margin;
        left: auto;
        position: absolute;
        bottom: percent-view(81px, $fhd-height, 'h');
        margin-bottom: 0;
      }
    }
  }
}
