.news {
  $news-slide-image-height: calc(
    (#{$column-width} * 3 - #{$column-margin}) * 0.68
  );
  $news-slide-image-height-small: calc(
    (#{$column-width-small} * 2 - #{$column-margin}) * 0.68
  );
  $news-slide-image-height-medium: calc(
    (#{$column-width-medium} * 2 - #{$column-margin}) * 0.68
  );

  &__left {
    position: relative;
    margin-bottom: responsive-value(
      25px,
      58px,
      $mobile-min-width,
      $tablet-width,
      'w'
    );

    @media (min-width: $breakpoint-medium) {
      margin-bottom: 0;
    }
  }

  &__right {
    position: relative;
  }

  &__slider {
    height: 100%;

    @media (min-width: $breakpoint-small) {
      height: auto;
    }

    & > .swiper-wrapper {
      align-items: stretch;
    }

    &-nav {
      bottom: auto;

      @media (min-width: $breakpoint-medium) {
        bottom: 0;
      }
      @media (min-width: $breakpoint-large) {
        transform: translateY(-50%);
        top: $news-slide-image-height;
        bottom: auto;
      }
    }

    &-item {
      padding-right: percent-view(56px, $fhd-width, 'w');

      width: calc(#{$column-width-small} * 2);
      height: auto;
      box-sizing: border-box;

      opacity: 0.6;
      transition: all var(--transition);

      @media (min-width: $breakpoint-small) {
        width: calc(#{$column-width-medium} * 3);
      }
      @media (min-width: $breakpoint-medium) {
        width: calc(#{$column-width} * 3);
      }

      &.swiper-slide-active {
        opacity: 1;
      }
    }
  }

  &__slide {
    display: flex;
    flex-direction: column;
    height: 100%;

    &-top {
      flex: 1 0 60%;
    }

    &-bottom {
      flex: 0 0 40%;
    }
  }
  &__teaser {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    height: 100%;

    &--margin {
      margin-top: 32px;
      @media (min-width: $breakpoint-medium) {
        margin-top: percent-view(64px);
      }
    }

    &-image {
      flex: 0 0 auto;
      height: 0;
      width: 100%;
      padding-bottom: $news-slide-image-height-small;
      position: relative;
      margin-bottom: 14px;
      overflow: hidden;

      @media (min-width: $breakpoint-small) {
        padding-bottom: $news-slide-image-height-medium;
      }
      @media (min-width: $breakpoint-medium) {
        margin-bottom: percent-view(18px);
        padding-bottom: $news-slide-image-height;
      }

      .news__section & {
        padding-bottom: 60.9%;
      }

      & img {
        position: absolute;
        left: 0;
        top: 0;

        width: 100%;
        height: 100%;
        object-fit: cover;

        transition: transform var(--transition);
      }
    }

    &-bottom {
      flex: 1 0 auto;
      display: flex;
      flex-direction: column;

      @media (min-width: $breakpoint-small) {
        flex-direction: row;
      }
    }

    &-name {
      @include font-h3;

      flex: 1 1 auto;
      margin-right: $column-margin;

      @media (max-width: $breakpoint-xsmall-max) {
        font-size: 1.4rem;
        margin-bottom: percent-view(10px, $mobile-min-width, 'w');
      }
    }
    &-date {
      flex: 0 0 auto;
      color: rgba($color-gray, 0.7);
    }

    &:hover {
      & .news__teaser-image img {
        transform: scale(1.05);
      }
    }
  }

  &__sections {
    &-item {
      margin-bottom: percent-view(20px);

      &--order,
      &.uk-active {
        font-weight: 600;
      }
      & a {
        text-decoration: none;
      }
    }
  }

  &__section {
    margin-bottom: percent-view(64px);

    &:last-child {
      margin-bottom: 0;
    }
    &-title {
      margin-bottom: percent-view(23px);
    }
  }
}
