.partners {
  &__left {
    padding-right: 0;
    margin-bottom: percent-view(46px, $mobile-min-width, 'w');
    @media (min-width: $breakpoint-small) {
      margin-bottom: percent-view(57px, $tablet-width, 'w');
    }
    @media (min-width: $breakpoint-medium) {
      margin-bottom: 0;
    }
  }
  &__right {
    flex: 0 0 auto;
    padding-right: $right-margin;
    position: relative;
  }

  &__list {
    margin: 0 0 0 auto;
    max-height: 80vh;

    @media (min-width: $breakpoint-medium) {
      width: percent-view(604px);
      max-height: percent-view(557px, $fhd-height, 'h');
    }
  }

  &__item {
    margin-bottom: responsive-fhd(17px, 24px);

    &.uk-active &-link {
      text-decoration: none;
      color: $color-red;
    }

    &-link {
      @include font-h3;
      text-decoration-style: dotted;
      position: relative;

      &.drop--active,
      &.uk-active {
        text-decoration: none;
        color: $color-red;
      }

      & sup {
        position: absolute;
        opacity: 0.6;
        margin-left: 2px;
      }
    }

    &-drop {
      width: percent-view(604px, $fhd-width, 'w');
      background-color: $color-white;
      padding: percent-view(73px, $fhd-height, 'h')
        percent-view(64px, $fhd-width, 'w') percent-view(49px, $fhd-height, 'h')
        percent-view(56px, $fhd-width, 'w');
      box-shadow: 0 10px 20px rgba($color-black, 0.16);
      position: relative;
      //hidden by default. drop--active enables
      pointer-events: none;
      opacity: 0;
      visibility: hidden;

      transition: opacity var(--transition), visibility 0s linear 0.3s;

      &.drop--active,
      &.uk-active {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
        transition-delay: 0s, 0s;
      }

      &-close {
        background: none;
        border: none;
        width: responsive-fhd(16px, 32px);
        height: responsive-fhd(16px, 32px);

        position: absolute;
        right: percent-view(27px, $fhd-width, 'w');
        top: percent-view(22px, $fhd-height, 'h');
        cursor: pointer;

        &:hover {
          & svg {
            fill: $color-red;
          }
        }

        & svg {
          max-width: 80%;
          transform: rotate(45deg);
        }
      }
    }

    &-title {
      @include font-h3;
      margin-bottom: percent-view(24px, $fhd-height, 'h');
    }
    &-address {
      color: rgba($color-black, 0.6);
      margin-bottom: percent-view(16px, $fhd-height, 'h');
    }
    &-phone {
      & a {
        text-decoration: none;
        color: rgba($color-black, 0.6);

        &:hover {
          color: rgba($color-red, 0.6);
        }
      }
    }
    &-readmore {
      display: block;
      margin-top: percent-view(52px, $fhd-height, 'h');
    }
  }

  &__drops {
    position: absolute;
    top: 0;
    right: calc($right-margin + percent-view(604px, $fhd-width, 'w'));
    margin-right: $column-margin;
  }

  &__map {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    margin-left: -$container-margin;

    @media (min-width: $breakpoint-medium) {
      margin: -#{percent-view(144px, $fhd-height, 'h')} -#{$container-margin};
    }

    & img,
    & picture {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top right;

      @media (min-width: $breakpoint-medium) {
        object-fit: contain;
        object-position: top left;
      }
    }
  }

  &__offcanvas {
    &-title {
      margin-bottom: 16px;

      @media (min-width: $breakpoint-small) {
        margin-bottom: percent-view(36px);
      }
    }
    &-items {
    }
    &-item {
      display: block;
      @include font-h3;
      margin-bottom: 24px;
      text-decoration: none;
    }
  }
}
