.partners {
  &__left {
    margin-bottom: percent-view(46px, $mobile-min-width, 'w');
    pointer-events: none;

    @media (min-width: $breakpoint-small) {
      padding-right: 0;
      margin-bottom: percent-view(57px, $tablet-width, 'w');
      height: percent-view(600px);
    }
    @media (min-width: $breakpoint-medium) {
      margin-bottom: 0;
      flex: 1 1 auto;
    }
    // pointer-events: none;
    z-index: 1;
  }
  &__right {
    flex: 1 1 auto;
    padding-right: $container-margin;
    position: relative;
    z-index: 2;

    @media (min-width: $breakpoint-medium) {
      flex: 0 0 calc(#{$column-width} * 3 + #{$container-margin});

      max-width: calc(11.45833vw * 3 + 4.16667vw);
    }
  }
  &__top {
    z-index: 1;
    position: relative;
  }

  &__section {
    &-title {
      pointer-events: none;
    }
  }

  &__list {
    margin: 0 0 0 auto;
    max-height: 80vh;

    @media (min-width: $breakpoint-medium) {
      // width: percent-view(604px);
      max-height: percent-view(557px, $fhd-height, 'h');
    }

    &-wrap {
      padding-top: responsive-value(10px, 20px);

      & sup {
        top: 0;
        line-height: 1em;
      }
    }
  }

  &__item {
    margin-bottom: responsive-value(17px, 24px);

    &.uk-active &-link {
      text-decoration: none;
      color: $color-red;
    }

    &-link {
      @include font-h3;
      text-decoration-style: dotted;
      position: relative;

      &.drop--active,
      &.uk-active,
      &.hover {
        text-decoration-color: rgba($color-red, 0);
        text-underline-offset: 0.7em;
        color: $color-red;
      }

      & sup {
        position: absolute;
        opacity: 0.6;
        margin-left: 2px;
      }
    }

    &-title {
      @include font-h3;
      margin-bottom: percent-view(24px, $fhd-height, 'h');
    }
    &-address {
      color: rgba($color-black, 0.6);
      margin-bottom: percent-view(16px, $fhd-height, 'h');
    }
    &-phone {
      & a {
        text-decoration: none;
        color: rgba($color-black, 0.6);

        &:hover {
          color: rgba($color-red, 0.6);
        }
      }
    }
    &-readmore {
      display: block;
      margin-top: percent-view(52px, $fhd-height, 'h');
    }
  }

  &__drops {
    position: absolute;
    top: 0;
    right: calc($right-margin + percent-view(604px, $fhd-width, 'w'));
    margin-right: $column-margin;
  }

  &__map {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    margin-left: -$container-margin;

    @media (min-width: $breakpoint-medium) {
      // margin: -#{percent-view(92px, $fhd-height, 'h')} -#{$container-margin};
      margin-right: calc(#{$column-width} * 3 + #{$container-margin});
    }

    &-markers {
      display: none;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      width: 100%;

      @media (min-width: $breakpoint-medium) {
        display: block;
      }
    }

    &-circle-0 {
      transition: all var(--transition);
      opacity: 0.6;
      enable-background: new;
      r: 8px;
      fill: $color-red;

      &:hover,
      a:hover &,
      a.hover & {
        // fill: var(--color-accent);
        // transform: scale(1.2);
        opacity: 1;
        r: 12px;
      }
    }

    &-circle-1 {
      display: block;
      fill: #ffffff;
      pointer-events: none;
      r: 6px;
      transition: all var(--transition);

      &:hover,
      a:hover &,
      a.hover & {
        fill: $color-red;
      }
    }

    & img,
    & picture {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top right;

      @media (min-width: $breakpoint-medium) {
        object-fit: contain;
        object-position: top left;
        height: auto;
      }
    }
  }

  &__offcanvas {
    &-title {
      margin-bottom: 16px;

      @media (min-width: $breakpoint-small) {
        margin-bottom: percent-view(36px);
      }
    }
    &-items {
    }
    &-item {
      display: block;
      @include font-h3;
      margin-bottom: 24px;
      text-decoration: none;
    }
  }
}
