.procedures {
  &__left {
    margin-bottom: percent-view(24px, $mobile-min-width, 'w');

    @media (min-width: $breakpoint-small) {
      margin-bottom: percent-view(34px, $tablet-width, 'w');
    }
    @media (min-width: $breakpoint-medium) {
      margin-bottom: 0;
    }
  }

  &__slider {
    height: 100%;

    &-nav {
      transform: translateY(50%);
    }

    &-right {
      &-item {
        $slide-width: calc(#{$column-width-small} * 2);
        $slide-height: calc(#{$slide-width} * 0.91);

        width: $slide-width;
        height: $slide-height;

        box-sizing: border-box;
        padding-right: percent-view(56px, $fhd-width, 'w');

        opacity: 0.6;
        transition: all var(--transition);

        @media (min-width: $breakpoint-small) {
          $slide-width: calc(#{$column-width-medium} * 3);
          width: $slide-width;
          height: calc(#{$slide-width} * 0.91);
        }

        @media (min-width: $breakpoint-medium) {
          $slide-width: calc(#{$column-width} * 3);
          width: $slide-width;
          height: calc(#{$slide-width} * 0.91);
        }

        &.swiper-slide-active {
          opacity: 1;
        }
      }
    }
  }

  &__slide {
    display: flex;
    flex-direction: column;
    height: 100%;

    &-top {
      flex: 1 0 60%;
    }

    &-bottom {
      flex: 0 0 40%;
    }

    &-title {
      hyphens: auto;
    }
    &-text {
      color: rgba($color-gray, 0.7);
      margin-bottom: percent-view(38px);
    }
  }
  &__teaser {
    display: block;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform var(--transition);
    }

    &:hover img {
      transform: scale(1.05);
    }
  }
}
