.product {
  display: block;
  position: relative;
  text-decoration: none;

  // TEASER
  &__plus {
    $plus-size: 22px;

    position: absolute;
    top: $plus-size;
    right: $plus-size;
    width: $plus-size;
    height: $plus-size;

    &:before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      background: #f00;
      border-radius: 50%;
      z-index: 1;
      transform: scale(0) rotate(0.0001deg);
      opacity: 0;
      transition: transform var(--transition), opacity var(--transition);
      transform-origin: center;
    }

    & svg {
      position: relative;
      display: block;
      z-index: 1;
      transition: fill var(--transition);
    }
  }

  &__image {
    background-color: $color-light-gray;
    width: 100%;
    overflow: hidden;
    margin-bottom: percent-view(14px);
    position: relative;

    // height: percent-view($product-image-height);
    height: 0;
    padding-bottom: 130%;

    & img {
      mix-blend-mode: multiply;
      transition: transform var(--transition);
      transform-origin: center bottom;
      transform: rotate(0.0001deg);

      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__image-lead {
  }

  &__name {
  }

  &--teaser {
    &:hover {
      text-decoration: none;
      & .product__image img {
        transform: scale(1.1) rotate(0.0001deg);
      }
    }

    &:hover {
      & .product__plus:before {
        transform: scale(1.4) rotate(0.0001deg);
        opacity: 1;
      }
      & .product__plus svg {
        fill: $color-white;
      }
    }
  }

  // DETAIL

  &__logo {
  }
  &__top {
    padding: 0 $container-margin 0 $container-margin;
    background: $color-white;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    border-bottom: 1px solid rgba($color-red, 0.2);

    @media (min-width: $breakpoint-medium) {
      padding: 0 $right-margin 0 $container-margin;

      flex-direction: row;
      align-items: center;
    }

    &.uk-sticky-fixed {
      z-index: 990;
    }

    &-contact {
      & a {
        @include font-menu-2;
        text-transform: uppercase;
        text-decoration: none;
        color: rgba($color-red, 0.8);

        &:hover {
          color: rgba($color-gray, 1);
        }
      }
    }

    &-small {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      height: responsive-value(
        56px,
        72px,
        $mobile-min-width,
        $tablet-width,
        'w'
      );

      @media (min-width: $breakpoint-medium) {
        display: none;
      }

      &-nav {
        @include font-menu-2;
        color: $color-black;
        text-transform: uppercase;
        text-decoration: none;

        &:hover {
          color: rgba($color-gray, 0.8);
        }
      }
    }
  }
  &__tabs {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;

    // padding: percent-view(37px) 0 percent-view(40px) 0;
    height: responsive-value(56px, 108px, $mobile-min-width, $fhd-width, 'w');
    align-items: center;
    margin-right: -$container-margin;
    border-bottom: 1px solid rgba($color-red, 0.2);
    max-width: calc(100% + #{$container-margin});
    padding-right: $container-margin;
    overflow-x: scroll;
    transition: height var(--transition);

    min-width: 100%;

    @media (min-width: $breakpoint-medium) {
      border-bottom: none;
      margin-right: 0;
      overflow: hidden;
      min-width: 0;
    }

    .product__top.uk-active & {
      height: $header-height;
    }

    &-item {
      margin-right: percent-view(40px, $fhd-width, 'w');

      &.uk-active {
        & a {
          color: $color-black;
          text-decoration-color: rgba($color-red, 0.6);

          &:hover {
            text-decoration-color: transparent;
          }
        }
      }

      & a {
        @include font-menu-2;

        text-decoration: underline;
        text-decoration-color: transparent;
        text-transform: uppercase;
        color: $color-gray;
        white-space: nowrap;

        &:hover {
          color: rgba($color-red, 1);
        }
      }
    }

    &-content {
      display: flex;
      flex-direction: column;

      @media (min-width: $breakpoint-medium) {
        flex-direction: row;
      }

      &-push {
        @media (min-width: $breakpoint-medium) {
          margin-left: calc(11.45833vw * 2);
          padding-left: $column-margin;
          border-left: 1px solid rgba(255, 0, 0, 0.2);
        }
      }
    }
  }

  &__content {
    display: flex;
  }

  &__sidebar {
    display: none;

    @media (min-width: $breakpoint-medium) {
      display: block;
      padding-right: $column-margin;
    }
  }
  &__mainbar {
    @media (min-width: $breakpoint-small) {
    }
    @media (min-width: $breakpoint-medium) {
      padding-left: $column-margin;
    }
  }

  &__files {
    &-item {
      border: 0px solid rgba($color-red, 0.2);
      border-top-width: 1px;
      padding: percent-view(25px) 0 percent-view(15px) 0;

      &:last-child {
        border-bottom-width: 1px;
      }
    }
    &-link {
      @include font-small;
      color: rgba($color-gray, 0.8);
      text-decoration: none;

      display: inline-flex;
      align-items: center;

      &:hover {
        color: rgba($color-red, 0.8);
        text-decoration: none;
      }
      & svg {
        width: 18px;
        height: 23px;
        margin-right: 17px;
      }
    }
  }

  &__section {
    position: relative;

    & + & {
      margin-top: percent-view(128px);
    }

    &-lead {
      @include font-lead;
      margin-top: percent-view(42px);
      margin-bottom: percent-view(90px);
    }
  }

  &-section-desc {
    &__content {
      align-items: stretch;
    }
    &__images {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    &__image-lead {
      flex: 0 0 auto;
      margin-bottom: $column-margin;

      height: percent-view(50px, $mobile-min-width, 'w');

      @media (min-width: $breakpoint-small) {
        height: percent-view(60px, $tablet-width, 'w');
      }
      @media (min-width: $breakpoint-medium) {
        height: percent-view(94px);
      }

      & img {
        height: 100%;
        object-fit: contain;
      }
    }

    &__legal {
      flex: 0 0 auto;
      display: flex;
      align-items: center;

      &-badge {
        flex: 0 0 96px;
        min-height: 96px;
        margin-right: 16px;
      }
      &-desc {
        flex: 1 1 auto;
        @include font-small;
        color: rgba($color-gray, 0.6);

        & a {
          color: rgba($color-gray, 0.6);
          text-decoration: none;
          transition: color var(--transition);

          &:hover {
            color: rgba($color-gray, 0.8);
          }
        }
      }
    }
  }

  &-section-appliance {
    @include product-section-gray;

    &__list {
      max-height: percent-view(448px, $fhd-height, 'h');
    }
    &__item {
      margin-bottom: percent-view(24px);
      page-break-inside: avoid;
      break-inside: avoid;

      &.uk-active a {
        text-decoration: none;
        color: $color-red;
      }

      & a {
        @include font-h3;
        text-decoration-style: dotted;
      }
    }
  }

  &-section-advantages {
    &__content {
      & h1,
      & h2,
      & h3 {
        margin-bottom: 20px;

        @media (min-width: $breakpoint-small) {
          margin-bottom: percent-view(24px);
        }
      }

      & ul {
        list-style-type: disc;
        padding-left: 16px;
      }
    }
    &__image {
      margin-top: percent-view(97px);
    }

    &__columns {
      margin-bottom: percent-view(140);
    }

    &__slider {
      margin-bottom: percent-view(46px);
      margin-right: -#{$right-margin};

      &-item {
        height: responsive-value(
          391px,
          594px,
          $mobile-min-width,
          $fhd-width,
          'w'
        );
        width: auto;
        margin-right: $column-margin;
      }
      &-link {
        display: block;
        height: 100%;

        & img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      &-nav {
        position: relative !important;
      }
    }
  }

  &-section-video {
    @include product-section-gray;
    padding-bottom: 0;

    &__top {
      margin-bottom: percent-view(55px);
    }

    &__sidebar {
      padding-bottom: $product-section-gray-bottom;
    }

    &__mainbar {
      order: -1;

      @media (min-width: $breakpoint-small) {
        order: 0;
      }
    }

    &__list {
      display: flex;
      gap: 21px;

      @media (min-width: $breakpoint-small) {
        display: block;
      }
      &-item {
        flex: 0 1 33%;

        @media (min-width: $breakpoint-small) {
          margin-bottom: percent-view(32px);
        }

        & a {
          position: relative;
          display: block;

          &:before {
            content: '';
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($color-black, 0.4);
            transition: opacity var(--transition);
            opacity: 0;
          }

          & img {
            width: 100%;
          }
        }

        &.uk-active {
          & a:before {
            opacity: 1;
          }
        }
      }
    }

    &__item {
      width: 100%;
      height: 0;
      padding-bottom: 56%;
      position: relative;

      & video {
        object-fit: cover;
      }
      & iframe {
        width: 100%;
        height: 100%;
        position: absolute;
      }
    }
  }

  &-section-roi {
    &__column-left {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      margin-bottom: responsive-value(
        32px,
        51px,
        $mobile-min-width,
        $tablet-width,
        'w'
      );

      @media (min-width: $breakpoint-medium) {
        margin-bottom: 0;
      }
    }
    &__column-right {
      @media (min-width: $breakpoint-small) {
        margin-left: $column-width;
      }
      @media (min-width: $breakpoint-medium) {
        margin-left: 0;
      }
    }

    &__button {
      align-self: flex-start;

      @media (min-width: $breakpoint-medium) {
        position: absolute;
        left: 0;
        bottom: 0;
      }

      &-wrap {
        text-align: center;

        @media (min-width: $breakpoint-small) {
          text-align: left;
        }
      }
    }

    &__content {
      & ul {
        margin-bottom: responsive-value(
          28px,
          56px,
          $mobile-min-width,
          $fhd-width,
          'w'
        );

        @media (min-width: $breakpoint-medium) {
          margin-bottom: 0;
        }
      }

      & li {
        position: relative;
        padding-left: responsive-value(
          40px,
          55px,
          $mobile-min-width,
          $fhd-width,
          'w'
        );
        @include font-h3;
        margin-bottom: 33px;

        @media (min-width: $breakpoint-small) {
          margin-left: responsive-value(
            -40px,
            -55px,
            $mobile-min-width,
            $fhd-width,
            'w'
          );
        }
        @media (min-width: $breakpoint-medium) {
          margin-bottom: percent-view(50px);
          padding-left: 0;
          margin-left: 0;
        }
        &:last-child {
          margin-bottom: 0;
        }
        &:before {
          content: '';
          display: block;
          position: absolute;
          width: responsive-value(
            20px,
            28px,
            $mobile-min-width,
            $fhd-width,
            'w'
          );
          height: 2px;
          background: $color-red;
          left: 0;
          top: 0.7em;

          @media (min-width: $breakpoint-medium) {
            display: none;
          }
        }
      }
    }
  }

  &-section-results {
    $slider-arrow-offset: calc(#{$column-width-medium} + #{$column-margin});

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    @include product-section-gray;

    @media (min-width: $breakpoint-small) {
      padding-right: 0;
    }
    @media (min-width: $breakpoint-medium) {
      flex-direction: row;
      padding-bottom: 0;
    }

    &__slider {
      padding-bottom: percent-view(32px);

      &-nav {
        bottom: percent-view(53px) !important;
      }
    }

    &__slide {
      &-text {
        margin-bottom: percent-view(38px);
      }
    }

    // & .section__left,
    // & .section__right {
    //   @media (min-width: $breakpoint-medium) {
    //     width: 50%;
    //     max-width: 50%;
    //   }
    // }
    // & .section__right {
    //   width: auto;
    //   @media (min-width: $breakpoint-small) {
    //     position: static;
    //     margin-left: $slider-arrow-offset;
    //     margin-bottom: calc(-1 * #{$product-section-gray-bottom});
    //   }
    //   @media (min-width: $breakpoint-medium) {
    //     margin-left: 0;
    //     width: 100%;
    //   }
    // }
    & .procedures__slider-nav {
      @media (min-width: $breakpoint-small) {
        position: absolute;
        left: $column-margin;
        bottom: responsive-value(32px, 53px, $tablet-width, $fhd-width, 'w');
        margin: 0;
      }
    }
  }

  &-section-instruments {
    &__title {
      display: block;
      padding: percent-view(39px) 0 percent-view(30px);
      text-decoration: none;
      position: relative;

      &:hover {
        text-decoration: none;
      }
    }
    &__plus {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    &__item {
      border: 0px solid rgba($color-red, 0.2);
      border-top-width: 1px;

      &:last-child {
        border-bottom-width: 1px;
      }
    }
    &__content {
      margin-bottom: percent-view(45px);
    }
  }

  &-section-reviews {
    @include product-section-gray;
    padding-bottom: 0;
    padding-right: 0;
    position: relative;

    display: flex;
    flex-wrap: wrap;

    & .reviews__slide {
      // padding-right: 0;

      &-left {
        margin-bottom: percent-view(108px);
      }
    }

    &__nav {
      bottom: percent-view(51px, $mobile-min-width);

      @media (min-width: $breakpoint-small) {
        bottom: percent-view(32px, $tablet-width);
      }
      @media (min-width: $breakpoint-medium) {
        bottom: percent-view(66px);
      }
      left: $container-margin;
      position: absolute;
      margin: 0;
    }
  }

  &-section-warranty {
    &__title {
      margin-bottom: percent-view(114px) !important;
    }

    &__image {
      display: flex;
      align-items: center;

      @media (min-width: $breakpoint-medium) {
        align-items: start;
      }
      &-label {
        flex: 0 0 74px;
        margin-right: responsive-value(
          35px,
          49px,
          $mobile-min-width,
          $fhd-width,
          'w'
        );
      }
      &-text {
        flex: 1 1 auto;
        @include font-small;
      }
    }
  }

  &__bottom {
    background: $gradient-1;
    // padding: percent-view(94px, $fhd-height, 'h') 0 percent-view(144px, $fhd-height, 'h') $container-margin;
  }

  &-section-catalog {
    &__content {
      display: flex;
      flex-direction: column;
      width: 100%;

      @media (min-width: $breakpoint-medium) {
        flex-direction: row;
      }
    }
  }

  &-section-procedures {
    &__content {
      display: flex;
      flex-direction: column;
      width: 100%;

      @media (min-width: $breakpoint-medium) {
        flex-direction: row;
      }
    }
  }

  &-offcanvas {
    &__title {
      margin-bottom: percent-view(28px);
    }
    &__subtitle {
      margin-top: 0;
      margin-bottom: percent-view(65px);
    }
    &__lead {
      margin-bottom: percent-view(90px);

      & ul {
        padding-left: 1em;
        & li {
          padding-left: 0.5em;
          &::marker {
            content: '—';
          }
        }
      }
    }
  }
}

// UIKIT Slider buttons size.
.uk-lightbox-button svg {
  width: 100%;
}
.uk-lightbox-toolbar-icon {
  padding: 2.083vw;
  width: 2.604vw;
  height: 2.604vw;
  box-sizing: content-box;
}
