.section {


  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-between;
  flex-direction: column;

  margin: percent-view(94px) 0 percent-view(144px) $container-margin;

  @media (min-width: $breakpoint-small) {
    flex-direction: row;
  }

  &__top {
    flex: 1 0 100%;
    width: 100%;

  }

  &__subtitle {
    flex: 1 0 100%;
    margin-bottom: 25px;

    color: rgba($color-red, 0.6);
  }
  &__title {
    margin-bottom: percent-view(21px, $mobile-min-width, 'w');
    @media (min-width: $breakpoint-small) {
      margin-bottom: percent-view(30px, $tablet-width, 'w');
      
    }
    @media (min-width: $breakpoint-small) {
      max-width: calc(#{$column-width-medium} * 3);
    }
    @media (min-width: $breakpoint-medium) {
      max-width: none;;
      margin-bottom: percent-view(28px);
    }
  }

  &__link {
    color: rgba($color-gray, 0.7);
  }

  &__left {
    flex: 1 1 auto;
    padding-right: percent-view(55px, $fhd-width, 'w');
    position: relative;
    width: 100%;

    @media (min-width: $breakpoint-medium) {
      width: calc(#{$column-width} * 2);
      max-width: calc(#{$column-width} * 2);
  
    }
  }

  &__right {
    flex: 1 1 auto;
    width: 100%;
    

    // display: flex;
    justify-content: space-between;

    @media (min-width: $breakpoint-small) {
      width: calc(100% - calc(#{$column-width} * 2);
    }

    @media (min-width: $breakpoint-medium) {
      position: relative;
    }
  }


  &--advantages {
    margin-right: $column-margin;

    @media (min-width: $breakpoint-small) {
      margin-right: 0;
    }
  }
}

.ruler {

  &--right {
    position: fixed;
    right: percent-view(136px, $fhd-width, 'w');
    top:0;
    bottom: 0;
    width:1px;
    background-color: rgba($color-gray, 0.2);
  }
}