.sidebar {
  &__mnav {
    &--numbered {
      .sidebar__mnav {
        &-items {
          &-item {
            &:before {
              font-size: 0.7em;
              color: rgba($color-red, 0.6);
            }
          }
        }
      }
    }

    &-section {
      margin-bottom: 32px;

      &.uk-active,
      &:hover,
      &.uk-open {
        & .sidebar__mnav-section-link {
          margin-left: 0;

          & svg {
            opacity: 1;
          }
        }
      }
      &.uk-open {
        & .sidebar__mnav-section-link {
          & svg {
            transform: rotate(90deg);
          }
        }
      }
      &-link {
        @include font-base;
        font-weight: 600;

        @include menu-item-arrow;

        & svg {
          fill: $color-red;
        }
      }
    }

    &-items {
      counter-reset: section;
      margin-top: percent-view(24px);

      &-item {
        display: flex;
        margin-bottom: responsive-value(
          6px,
          12px,
          $mobile-min-width,
          $fhd-width
        );
        align-items: center;

        &:before {
          flex: 0 0 auto;
          display: inline-block;
          width: 25px;

          counter-increment: section;
          content: counter(section, decimal-leading-zero);
          font-size: 0;

          margin-right: percent-view(8px);
        }
      }

      &-link {
        flex: 1 1 auto;
        @include font-small;
        text-decoration: none;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
