.sidebar {
  &__mnav {
    &--numbered {
      .sidebar__mnav {
        &-items {
          &-item {
            &:before {
              font-size: 0.7em;
              line-height: calc(1.5 * 1.5);
              color: rgba($color-red, 0.6);
              position: static;
              width: 25px;

              counter-increment: section;
              content: counter(section, decimal-leading-zero);
              // position: absolute;

              margin-right: percent-view(8px);
            }
          }
        }
      }
    }

    &-section {
      margin-bottom: 32px;

      &.uk-active,
      &:hover,
      &.uk-open {
        & .sidebar__mnav-section-link {
          margin-left: 0;

          & svg {
            opacity: 1;
            transform: translateX(0);
          }
        }
      }
      &.uk-open {
        & .sidebar__mnav-section-link {
          & svg {
            transform: translateX(0) rotate(90deg);
          }
        }
      }
      &-link {
        @include font-base;
        font-weight: 600;

        @include menu-item-arrow;
        margin-bottom: 0;

        & svg {
          fill: $color-red;
        }
      }
    }

    &-items {
      counter-reset: section;
      // margin-top: percent-view(24px);
      max-height: 2000px;
      transition: all var(--transition);

      &-item {
        display: flex;
        margin-bottom: responsive-value(
          6px,
          12px,
          $mobile-min-width,
          $fhd-width
        );
        margin-top: responsive-value(6px, 12px, $mobile-min-width, $fhd-width);
        @include font-small;

        // align-items: center;

        &:before {
          flex: 0 0 auto;
          display: inline-block;
        }
      }

      &-link {
        flex: 1 1 auto;
        @include font-small;
        text-decoration: none;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
