
@font-face {
  font-family: 'Natasha';
  src: url('../../fonts/subset-Natasha.woff2') format('woff2'),
      url('../../fonts/subset-Natasha.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
