.page {
  @mixin page-lead-bg {
    background: $gradient-1;
    margin-bottom: percent-view(80px);
  }

  &-lead {
    $lead-margin-bottom: percent-view(51px, $fhd-width, 'w');

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;

    padding: percent-view(162px, $fhd-width, 'w') $right-margin
      $lead-margin-bottom $container-margin;

    @media (min-width: $breakpoint-medium) {
      flex-direction: row;
    }

    &--product {
      min-height: 100vh;

      margin: 0;

      & .page-lead__images-primary {
        flex: 0 0 50%;
      }
    }
    &--appliance {
      @include page-lead-bg;

      & .page-lead__content {
        margin-bottom: percent-view(60px);

        @media (min-width: $breakpoint-medium) {
          margin-bottom: 0;
        }
      }

      & .page-lead__bottom {
        @media (min-width: $breakpoint-medium) {
          margin-bottom: calc(#{percent-view(50px)} - #{$lead-margin-bottom});
        }
      }
    }

    &--about {
      padding-bottom: 0;
    }
    &--partners {
    }

    &--company {
      padding-bottom: 0;
    }

    &--news-detail {
      @include page-lead-bg;

      & .page-lead__images-primary {
        margin-top: percent-view(52px);
      }
    }

    &--contacts {
      @include page-lead-bg;

      & .page-lead__content {
        flex: 0 1 calc(#{$column-width} * 2);
      }
    }

    &--content {
      @include page-lead-bg;
    }

    &__breadcrumbs {
      flex: 0 0 auto;
      width: 100%;
    }

    &__title {
      flex: 0 0 auto;
      // margin-bottom: percent-view(40px, $fhd-width, 'w');

      @media (min-width: $breakpoint-medium) {
        max-width: calc(#{$column-width} * 4);
      }

      @media (min-width: $breakpoint-large) {
      }
    }
    &__bg {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: -1;

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: bottom;
      }
    }

    &__content {
      display: flex;
      flex-direction: column;

      flex: 0 1 calc(#{$column-width} * 3);

      @media (min-width: $breakpoint-large) {
        flex: 0 1 calc(#{$column-width} * 4);
      }
    }

    &__description {
      flex: 1 0 auto;
      margin-bottom: percent-view(60px);
    }

    &__bottom {
      flex: 0 0 auto;
      border-top: 1px solid rgba($color-red, 0.2);
      padding-top: percent-view(40px);
    }

    &__images {
      flex: 1 1 46.81%; // to %
      max-width: calc(#{$column-width} * 4 - #{$column-margin});
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      margin-bottom: -#{$lead-margin-bottom};

      &-primary {
        flex: 0 0 auto;

        & img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          object-position: bottom right;
        }
      }

      &-secondary {
        flex: 0 0 50%;

        & img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          object-position: bottom;
        }
      }
    }
    &__image {
      @media (min-width: $breakpoint-medium) {
        margin-top: percent-view(55px); //compensate breadcrumbs
      }
    }

    &__date {
      flex: 1 0 auto;
      .page-lead__title + & {
        margin-top: percent-view(40px);
      }
      margin-bottom: percent-view(40px);
    }
    &__socials {
      flex: 0 0 auto;
      border-top: 1px solid rgba($color-red, 0.2);
      padding-top: percent-view(36px);
      margin-top: percent-view(40px);
    }

    &__social {
      display: inline-block;
      width: percent-view(36px);
      height: percent-view(36px);
      @include font-small;
      border: 1px solid $color-black;
      color: $color-black;
      border-radius: 50%;
      text-align: center;
      line-height: percent-view(36px);
      text-decoration: none;
      text-transform: uppercase;
      margin-right: percent-view(20px);
    }

    &__contacts {
      flex: 0 1 calc(#{$column-width} * 2);
      padding-right: $column-margin;
    }
    &__map {
      flex: 0 1 46.81%; // calc(#{$column-width} * 4 - #{$column-margin}) in %
      max-width: calc(#{$column-width} * 4 - #{$column-margin});
      overflow: hidden;
      margin-bottom: -$lead-margin-bottom;
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    // flex-wrap: wrap;

    margin: 0 $right-margin percent-view(120px, $fhd-width, 'w')
      $container-margin;
    // margin-top: percent-view(91px, $fhd-width, 'w'); // todo check

    color: $color-gray;

    @media (min-width: $breakpoint-medium) {
      flex-direction: row;
    }

    &--column {
      flex-direction: column;
    }

    &--product {
      margin: 0;
      padding: percent-view(91px, $fhd-width, 'w') $right-margin
        percent-view(120px, $fhd-width, 'w') $container-margin;
    }

    &--right {
      margin-right: calc(#{$column-width} + #{$column-margin} * 2);
    }

    &__sidebar {
      flex: 0 0 100%;
      margin-bottom: 40px;

      @media (min-width: $breakpoint-medium) {
        flex: 0 0 calc(#{$column-width} * 2 - #{$column-margin});
        padding-right: #{$column-margin};
      }

      &-nav {
        margin-bottom: percent-view(110px);

        &-item {
          margin-bottom: percent-view(22px);

          &.uk-active {
            color: $color-gray;
            font-weight: 600;

            & .page-content__sidebar-nav-link {
              margin-left: 0;

              & svg {
                opacity: 1;
              }
            }
          }
        }

        &-link {
          @include menu-item-arrow;
        }
      }
    }

    &__mainbar {
      flex: 1 1 auto;

      @media (min-width: $breakpoint-medium) {
        flex: 1 1 auto;
        max-width: calc(#{$column-width} * 6);

        padding-left: $column-margin;
      }

      &--border {
        @media (min-width: $breakpoint-medium) {
          border-left: 1px solid rgba($color-red, 0.2);
        }
      }
    }

    &__title {
      margin-bottom: percent-view(51px);
    }
  }
}
