.about {
  &__history {
    display: none;
    margin: percent-view(100px) 0;

    @media (min-width: $breakpoint-medium) {
      display: block;
    }
  }

  &-section-01 {
    margin-top: responsive-value(24px, 51px, $mobile-min-width, $fhd-width);
  }

  &-section-05 {
    &__video {
      margin-bottom: percent-view(34px);
    }
  }
}
