.index {

  $catalog-slide-image-height: percent-view(512px, $fhd-height, 'h');

  &__catalog {
    &-title {
      margin-bottom: percent-view(28px, $fhd-height, 'h');
    }

    &-slider {
      width: 100%;
      &-wrap {
        flex: 1 1 auto;
        // margin-right: percent-view(56px, $fhd-width, 'w');
      }
      &-item {
        // width: calc((100% - #{$right-margin}) / 3);
        width: calc(#{$column-width} * 2);
        

        padding-right: $column-margin;
        box-sizing: border-box;


      }

      & .uk-slider-items li {
        // width: 100%;
      }

      &-nav {
        top: calc(#{$column-width} * 2 * 1.33333);
        bottom: auto;
        transform: translateY(-50%);
      }
    }
  }
}
