.partners-page {
  &__top {
    @include block-margins;
    margin-bottom: responsive-value(
      32px,
      64px,
      $mobile-min-width,
      $fhd-width,
      'w'
    );
  }

  &__content {
    flex: 1 1 auto;
    display: flex;
  }

  &__switcher {
    flex: 1 1 auto;
    display: flex;

    &-item {
      flex: 1 1 auto;
    }
  }

  &__switch {
    display: flex;

    &-item {
      flex: 0 0 auto;
      margin-right: percent-view(36px);

      &.uk-active {
        & a {
          color: $color-black;
          text-decoration: none;
        }
      }
      & a {
        @include font-h2;
        color: rgba($color-black, 0.6);
      }
    }
  }

  &__map {
    height: 100%;
    width: 100%;
    &-wrap {
      position: relative;
      height: 100%;
      min-height: 700px;
    }
  }

  &__section {
    &-title {
      @include font-h3;
      margin-bottom: percent-view(28px);
    }
  }
  &__region {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 64px;

    @media (min-width: $breakpoint-medium) {
      flex-wrap: nowrap;
      margin-bottom: 0;
      border-top: 1px solid rgba($color-red, 0.2);
    }
    &-title {
      flex: 0 0 100%;
      @include font-h3;
      margin-bottom: 19px;

      @media (min-width: $breakpoint-medium) {
        flex: 0 0 $column-width;
        padding-right: $column-margin;
        padding-top: percent-view(22px);

        @include font-base;
      }
    }

    &-items {
    }
  }

  &__filter {
    position: absolute;
    z-index: 2;
    top: percent-view(24px);
    left: $container-margin;
    width: percent-view(384px);
    max-width: 100%;
    min-width: 325px;

    & select {
      @include font-base;
      color: rgba($color-gray, 1);
    }

    & option {
      @include font-base;
      color: rgba($color-gray, 1);
    }
  }
}

.page--partners {
  & .main {
    display: flex;
    flex-direction: column;
  }
}
