.partners-page {
  &__top {
    @include block-margins;
    margin-bottom: responsive-value(
      32px,
      64px,
      $mobile-min-width,
      $fhd-width,
      'w'
    );
  }

  &__content {
    flex: 1 1 auto;
    position: relative;
    min-height: calc(var(--vh, 1vh) * 100);

    // min-height: 700px;

    @media (min-width: $breakpoint-medium) {
      min-height: 700px;
      min-width: percent-view(800px);
    }
    // display: flex;
  }

  &__switcher {
    flex: 1 1 auto;
    display: flex;

    &-item {
      flex: 1 1 auto;
    }
  }

  &__switch {
    display: flex;

    &-item {
      flex: 0 0 auto;
      margin-right: percent-view(36px);

      &.uk-active {
        & a {
          color: $color-black;
          text-decoration: none;
        }
      }
      & a {
        @include font-h2;
        color: rgba($color-black, 0.6);
      }
    }
  }

  &__map {
    height: 100%;
    width: 100%;

    &-wrap {
      position: absolute;
      width: 100%;
      height: 100%;
      // display: flex;
      // flex-direction: ;
    }

    & > * {
      height: 100% !important;
    }
  }

  &__section {
    &-title {
      @include font-h3;
      margin-bottom: percent-view(28px);
    }
  }
  &__region {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 64px;

    @media (min-width: $breakpoint-medium) {
      flex-wrap: nowrap;
      // margin-bottom: 0;
      border-top: 1px solid rgba($color-red, 0.2);
    }
    &-title {
      flex: 0 0 100%;
      @include font-h3;
      margin-bottom: 19px;

      @media (min-width: $breakpoint-medium) {
        flex: 0 0 $column-width;
        padding-right: $column-margin;
        padding-top: percent-view(22px);
        margin-bottom: 0;

        @include font-base;
      }
    }

    &-items {
    }
  }

  &__filter {
    position: relative;
    top: 0;
    margin-bottom: 24px;

    z-index: 2;
    left: $container-margin;
    width: percent-view(384px);
    max-width: 100%;
    min-width: 325px;

    @media (min-width: $breakpoint-small) {
      position: absolute;
      top: responsive-value(24px, 53px, $mobile-min-width, $fhd-width);
      margin-bottom: 0;
    }

    &--sidebar,
    &--offcanvas {
      position: relative;
      top: auto;
      left: auto;
      width: auto;
      min-width: auto;
      margin-bottom: responsive-value(
        24px,
        35px,
        $mobile-min-width,
        $fhd-width,
        'w'
      );
    }

    & select {
      @include font-base;
      color: rgba($color-gray, 1);
    }

    & option {
      @include font-base;
      color: rgba($color-gray, 1);
    }

    &-donor {
      //hidden filter controls which do all the magic

      display: none;
    }
  }

  &__popup {
    width: percent-view(604px, $fhd-width, 'w');
    background-color: $color-white;
    padding: percent-view(73px, $fhd-height, 'h')
      percent-view(64px, $fhd-width, 'w') percent-view(49px, $fhd-height, 'h')
      percent-view(56px, $fhd-width, 'w');
    box-shadow: 0 10px 20px rgba($color-black, 0.16);
    position: relative;
    //hidden by default. drop--active enables
    pointer-events: none;
    opacity: 0;
    visibility: hidden;

    position: absolute;
    top: $column-margin;
    right: $column-margin;

    transition: opacity var(--transition), visibility 0s linear 0.3s;

    &.drop--active,
    &.uk-active {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
      transition-delay: 0s, 0s;
    }

    &-close {
      background: none;
      border: none;
      width: responsive-value(16px, 32px);
      height: responsive-value(16px, 32px);

      position: absolute;
      right: percent-view(27px, $fhd-width, 'w');
      top: percent-view(22px, $fhd-height, 'h');
      cursor: pointer;
      opacity: 0.6;
      transition: all var(--transition);

      &:hover,
      &:focus {
        opacity: 1;
        & svg {
          fill: $color-red;
        }
      }

      & svg {
        max-width: 80%;
      }
    }
  }

  &__list {
    display: flex;
    width: 100%;
    flex-direction: column;

    @media (min-width: $breakpoint-medium) {
      flex-direction: row;
    }
  }
}

.page--partners {
  & .main {
    display: flex;
    flex-direction: column;
  }
}
