footer.footer
  .footer__container
    .footer__grid
      .footer__column.footer__column--logo
      .footer__column.footer__column--catalog
      .footer__column.footer__column--company
      .footer__column.footer__column--support
      .footer__column.footer__column--contacts