header.header
  .header__wrap
    a.header__logo(href="/")
      img(src="../../../assets/logo.svg", alt="Melsytech")
    nav.header__nav
      a(href="#").header__nav-item.header__nav-item--active Каталог
      div(uk-dropdown="mode:click;boundary: .header; boundary-align: true").header__dropdown.header__dropdown--catalog
        .header__catalog
          .header__catalog-column
            a(href="/").header__catalog-title Косметология эпиляция
            ul.header__catalog-items
              li: a(href="/").header__catalog-item
                img(src="assets/magic-superfull-logo.png", alt="")
              li: a(href="/").header__catalog-item
                img(src="assets/magic-superfull-logo.png", alt="")
              li: a(href="/").header__catalog-item
                img(src="assets/magic-superfull-logo.png", alt="")
          .header__catalog-column
            a(href="/").header__catalog-title Косметология эпиляция
            ul.header__catalog-items
              li: a(href="/").header__catalog-item
                img(src="assets/magic-superfull-logo.png", alt="")
              li: a(href="/").header__catalog-item
                img(src="assets/magic-superfull-logo.png", alt="")
              li: a(href="/").header__catalog-item
                img(src="assets/magic-superfull-logo.png", alt="")
          .header__catalog-column
            a(href="/").header__catalog-title Косметология эпиляция
            ul.header__catalog-items
              li: a(href="/").header__catalog-item
                img(src="assets/magic-superfull-logo.png", alt="")
              li: a(href="/").header__catalog-item
                img(src="assets/magic-superfull-logo.png", alt="")
              li: a(href="/").header__catalog-item
                img(src="assets/magic-superfull-logo.png", alt="")
          .header__catalog-column
            a(href="/").header__catalog-title Косметология эпиляция
            ul.header__catalog-items
              li: a(href="/").header__catalog-item
                img(src="assets/magic-superfull-logo.png", alt="")
              li: a(href="/").header__catalog-item
                img(src="assets/magic-superfull-logo.png", alt="")
              li: a(href="/").header__catalog-item
                img(src="assets/magic-superfull-logo.png", alt="")
          .header__catalog-column
            a(href="/").header__catalog-title Косметология эпиляция
            ul.header__catalog-items
              li: a(href="/").header__catalog-item
                img(src="assets/magic-superfull-logo.png", alt="")
              li: a(href="/").header__catalog-item
                img(src="assets/magic-superfull-logo.png", alt="")
              li: a(href="/").header__catalog-item
                img(src="assets/magic-superfull-logo.png", alt="")
      a(href="#").header__nav-item Компания
      div(uk-dropdown="mode:click;boundary: .header; boundary-align: true").header__dropdown.header__dropdown--company
        ul.header__company-menu
          li: a.header__company-menu-item(href="/") О компании
          li: a.header__company-menu-item(href="/") Производство
          li: a.header__company-menu-item(href="/") Наши партнеры
          li: a.header__company-menu-item(href="/") Новости
          li: a.header__company-menu-item(href="/") Публикации в СМИ
          li: a.header__company-menu-item(href="/") Отзывы
      a(href="#").header__nav-item Применения
      div(uk-dropdown="mode:click;boundary: .header; boundary-align: true").header__dropdown.header__dropdown--appliance
        .header__dropdown-wrap
          .header__dropdown-left
            .header__dropdown-menu-wrap
              a(href="#").header__dropdown-menu-section Косметология
              ul.header__dropdown-menu
                li: a.header__dropdown-menu-item(href="/") Эпиляция
                li: a.header__dropdown-menu-item(href="/") Лазерное омоложение
                li: a.header__dropdown-menu-item(href="/") Карбоновый пилинг
                li: a.header__dropdown-menu-item(href="/") Удаление татуировок
                li: a.header__dropdown-menu-item(href="/") Коррекция перманентного макияжа
                li: a.header__dropdown-menu-item(href="/") Полировка кожи
                li: a.header__dropdown-menu-item(href="/") Лечении внешних проявлений акне
                li: a.header__dropdown-menu-item(href="/") Лечении шрамов пост-акне
                li: a.header__dropdown-menu-item(href="/") Лечение мелазмы и гиперпигментации
                li: a.header__dropdown-menu-item(href="/") Удаление пигментных пятен
                li: a.header__dropdown-menu-item(href="/") Коррекция расширенных пор кожи
                li: a.header__dropdown-menu-item(href="/") Удаление гемангиом и винных пятен
                li: a.header__dropdown-menu-item(href="/") Лечение сосудистой патологии
                li: a.header__dropdown-menu-item(href="/") Эпиляция гормон-зависимых зон
                li: a.header__dropdown-menu-item(href="/") Коррекция рубцовой ткани
                li: a.header__dropdown-menu-item(href="/") Лечении вирусных бородавок
                li: a.header__dropdown-menu-item(href="/") Лечение онихомикозов
            .header__dropdown-menu-wrap
              a(href="#").header__dropdown-menu-section Гинекология
              ul.header__dropdown-menu
                li: a.header__dropdown-menu-item(href="/") Лечение стрессового недержания мочи
                li: a.header__dropdown-menu-item(href="/") Лечение пролапса гениталий 1-2 стадии
                li: a.header__dropdown-menu-item(href="/") Лечение синдрома вагинальной релаксации
                li: a.header__dropdown-menu-item(href="/") Лечение генито-уринарного синдрома
                li: a.header__dropdown-menu-item(href="/") Интимное омоложение
                li: a.header__dropdown-menu-item(href="/") Послеродовое восстановление
                li: a.header__dropdown-menu-item(href="/") Лечение вульво-вагинальной атрофии
                li: a.header__dropdown-menu-item(href="/") Лечение сексуальных дисфункций
            .header__dropdown-menu-wrap
              a(href="#").header__dropdown-menu-section Флебология
              ul.header__dropdown-menu
                li: a.header__dropdown-menu-item(href="/") Венозная лазерная коагуляция (EVLC)
                li: a.header__dropdown-menu-item(href="/") Чрезкожная лазерная коагуляция сосудистых образований
                li: a.header__dropdown-menu-item(href="/") Удаление артериальных и венозных сосудов диаметром
            .header__dropdown-menu-wrap
              a(href="#").header__dropdown-menu-section Хирургия
              ul.header__dropdown-menu
                li: a.header__dropdown-menu-item(href="/") Удаление новообразований кожи
                li: a.header__dropdown-menu-item(href="/") Липомоделирование / липосакция
                li: a.header__dropdown-menu-item(href="/") Лазерное лечение гипергидроза
                li: a.header__dropdown-menu-item(href="/") Неинвазивный лазерный липолиз
            .header__dropdown-menu-wrap
              a(href="#").header__dropdown-menu-section Проктология
              ul.header__dropdown-menu
                li: a.header__dropdown-menu-item(href="/") Лечение геморроя методом сосудистой коагуляции
            .header__dropdown-menu-wrap
              a(href="#").header__dropdown-menu-section Отолорингология
              ul.header__dropdown-menu
                li: a.header__dropdown-menu-item(href="/") Возможности аппарата в области отолорингологии
          .header__dropdown-right
            a(href="#").header__dropdown-product
              .header__dropdown-product-image
                img(src="assets/magic_super_full.png", alt="Magic Super Full")
              .header__dropdown-product-logo
                img(src="assets/magic-superfull-logo.png", alt="Magic Super Full")
      a(href="#").header__nav-item Технологии
      a(href="#").header__nav-item Сервис
      a(href="#").header__nav-item Контакты
    .header__tools
      a(href="#").header__tools-item.header__consult Консультация
      a(href="#").header__tools-item.header__search
        +svg({ name: 'search' })
      a.header__tools-item.header__language(href="#") RU
      ul(uk-drop="mode: click").header__tools-item.header__language-dropdown
        //- li: a RU
        li: a(href="#") EN
      .header__burger
        .header__burger-link
          span