extends ../layout/main

block variables
  - var title = 'Каталог применений';
  - var description = 'Description';
  - var pageClass = 'page--appliance-catalog';

mixin appliance-catalog-nav(args)
  ul.sidebar__mnav.sidebar__mnav--numbered(uk-nav, uk-sticky="bottom: true; offset: 160")
    li.sidebar__mnav-section.uk-parent.uk-open
      a.sidebar__mnav-section-link(href="", data-section="cosmetology")
        +svg({name: 'arrow-right'})
        | Косметология
      ul.sidebar__mnav-items
        li.sidebar__mnav-items-item: a.sidebar__mnav-items-link(href="#app-epil", uk-scroll) Эпиляция
        li.sidebar__mnav-items-item: a.sidebar__mnav-items-link(href="#app-omolozh", uk-scroll) Лазерное омоложение
        li.sidebar__mnav-items-item: a.sidebar__mnav-items-link(href="#app-pigment", uk-scroll) Карбоновый пилинг
        li.sidebar__mnav-items-item: a.sidebar__mnav-items-link(href="", uk-scroll) Удаление татуировок
        li.sidebar__mnav-items-item: a.sidebar__mnav-items-link(href="", uk-scroll) Коррекция перманентного макияжа
        li.sidebar__mnav-items-item: a.sidebar__mnav-items-link(href="", uk-scroll) Полировка кожи
        li.sidebar__mnav-items-item: a.sidebar__mnav-items-link(href="", uk-scroll) Лечении внешних проявлений акне
        li.sidebar__mnav-items-item: a.sidebar__mnav-items-link(href="", uk-scroll) Лечении шрамов пост-акне
        li.sidebar__mnav-items-item: a.sidebar__mnav-items-link(href="", uk-scroll) Лечение мелазмы и гиперпигментации
        li.sidebar__mnav-items-item: a.sidebar__mnav-items-link(href="", uk-scroll) Удаление пигментных пятен
        li.sidebar__mnav-items-item: a.sidebar__mnav-items-link(href="", uk-scroll) Коррекция расширенных пор кожи
        li.sidebar__mnav-items-item: a.sidebar__mnav-items-link(href="", uk-scroll) Удаление гемангиом и винных пятен
        li.sidebar__mnav-items-item: a.sidebar__mnav-items-link(href="", uk-scroll) Лечение сосудистой патологии
        li.sidebar__mnav-items-item: a.sidebar__mnav-items-link(href="", uk-scroll) Эпиляция гормон-зависимых зон
        li.sidebar__mnav-items-item: a.sidebar__mnav-items-link(href="", uk-scroll) Коррекция рубцовой ткани
        li.sidebar__mnav-items-item: a.sidebar__mnav-items-link(href="", uk-scroll) Лечении вирусных бородавок
        li.sidebar__mnav-items-item: a.sidebar__mnav-items-link(href="", uk-scroll) Лечение онихомикозов
    li.sidebar__mnav-section.uk-parent
      a.sidebar__mnav-section-link(href="", data-section="ginekology")
        +svg({name: 'arrow-right'})
        | Гинекология
      ul.sidebar__mnav-items
        li.sidebar__mnav-items-item: a.sidebar__mnav-items-link(href="#app-0") Лечение мелазмы
        li.sidebar__mnav-items-item: a.sidebar__mnav-items-link(href="#app-1") Удаление рубцов
        li.sidebar__mnav-items-item: a.sidebar__mnav-items-link(href="#app-2") Карбоновый пилинг
    li.sidebar__mnav-section
      a.sidebar__mnav-section-link(href="", data-section="surgery")
        +svg({name: 'arrow-right'})
        | Хирургия
    li.sidebar__mnav-section
      a.sidebar__mnav-section-link(href="")
        +svg({name: 'arrow-right'})
        | Флебология
    li.sidebar__mnav-section
      a.sidebar__mnav-section-link(href="")
        +svg({name: 'arrow-right'})
        | Проктология
    li.sidebar__mnav-section
      a.sidebar__mnav-section-link(href="")
        +svg({name: 'arrow-right'})
        | Отолорингология

block content
  //- .ruler--right
  section.page-lead
    .page-lead__breadcrumbs.breadcrumbs
      span Области применения
    h1.page-lead__title Широкие возможности проведения процедур в различных областях
  
  section.page-content
    .page-content__sidebar
      +appliance-catalog-nav()

    +mobile-nav-link({anchor: '#sidebar', name: 'Области применения'})

    .page-content__mainbar
      .appliance__section
        h2.appliance__section-title Косметология
        +appliance-item({title: 'Лазерная эпиляция. ', text: 'В настоящее время среди множества различных методик эпиляции выделяют электроэпиляцию, фотоэпиляцию и лазерную эпиляцию. Последние две метода наиболее предпочтительны.', id: 'app-epil'})
        +appliance-item({title: 'Удаление рубцов и шрамов. ', text: 'Сосудистых патологий основывается на принципе селективного фототермолиза. При использовании лазера с соответствующей длиной волны, энергия поглощается.', id: 'app-omolozh'})
        +appliance-item({title: 'Удаление пигментации. ', text: 'Процедура лазерного удаления пигментных пятен основывается на принципе селективного фототермолиза. При применении лазера с соответствующей длиной волны, энергия поглощается хромофорами в тканях и преобразуется в тепло, которое разрушает пигмент.', id: 'app-pigment'})
        +appliance-item({title: 'Лазерная эпиляция. ', text: 'В настоящее время среди множества различных методик эпиляции выделяют электроэпиляцию, фотоэпиляцию и лазерную эпиляцию. Последние две метода наиболее предпочтительны.', id: 'app-5'})
        
        h2.appliance__section-title Гинекология
        +appliance-item({title: 'Лечение мелазмы и гиперпигментации.. ', text: 'В настоящее время среди множества различных методик эпиляции выделяют электроэпиляцию, фотоэпиляцию и лазерную эпиляцию. Последние две метода наиболее предпочтительны.', id: 'app-0'})
        +appliance-item({title: 'Удаление рубцов и шрамов. ', text: 'Сосудистых патологий основывается на принципе селективного фототермолиза. При использовании лазера с соответствующей длиной волны, энергия поглощается.', id: 'app-1'})
        +appliance-item({title: 'Удаление пигментации. ', text: 'Процедура лазерного удаления пигментных пятен основывается на принципе селективного фототермолиза. При применении лазера с соответствующей длиной волны, энергия поглощается хромофорами в тканях и преобразуется в тепло, которое разрушает пигмент.', id: 'app-2'})
        +appliance-item({title: 'Лазерная эпиляция. ', text: 'В настоящее время среди множества различных методик эпиляции выделяют электроэпиляцию, фотоэпиляцию и лазерную эпиляцию. Последние две метода наиболее предпочтительны.', id: 'app-3'})

  
  div(uk-offcanvas="overlay:true")#sidebar
    .uk-offcanvas-bar
      button.uk-offcanvas-close
        +svg({name: 'close'})
      .offcanvas__inner
        +appliance-catalog-nav()
