extends ../layout/main

block variables
  - var title = 'Catalog';
  - var description = 'Description';
  - var pageClass = 'page--content';

block content
  //- .ruler--right
  section.page-lead.page-lead--content

    .page-lead__content
      .page-lead__breadcrumbs.breadcrumbs
        +breadcrumb({name: 'Вернуться в раздел'})
      h1.page-lead__title Заголовок H1. Этот шаблон подходит для всех внутренних страниц от новостей до областей применения и технологий.
      .page-lead__date Дата или категория статьи
      .page-lead__socials
        a.page-lead__social(href="") fb
        a.page-lead__social(href="") vk
      
    .page-lead__images
      .page-lead__images-primary
        img(src="./assets/news-detail-image.jpg", alt="")

  section.page-content
    .page-content__sidebar

    .page-content__mainbar.page-content__mainbar--border
      article.content
        h2 Заголовок H2 Montserrat 34/40. Приоритетным принципом компании является качество. 
        p Body Text Montserrat 19/32, medium
          br
          | Cовременных лазерных системах Magic используется специфическое воздействие светового пучка. Достигаемый эффект основан на двух различных воздействиях: фракционного фототермолиза и испарении. Эти физические характеристики дают основу для выбора типа лазера из всего имеющегося на сегодня разнообразия лазерных систем. Выгодное отличие Nd:YАG-лазера состоит в том, что он может воздействовать на ткани организма до глубины нескольких милиметров без повреждающего
        h3 Заголовок H3 Montserrat 23/34, SemiBold 
        p Body Text Montserrat 19/32, medium
          br
          | Cовременных лазерных системах Magic используется специфическое воздействие светового пучка. Достигаемый эффект основан на двух различных воздействиях: фракционного фототермолиза и испарении. Эти физические характеристики дают основу для выбора типа лазера из всего имеющегося на сегодня разнообразия лазерных систем. Выгодное отличие Nd:YАG-лазера состоит в том, что он может воздействовать на ткани организма до глубины нескольких милиметров без повреждающего
        h2 Заголовок H2 Montserrat 34/40. Приоритетным принципом компании является качество. 
        p Body Text Montserrat 19/32, medium
          br
          | Cовременных лазерных системах Magic используется специфическое воздействие светового пучка. Достигаемый эффект основан на двух различных воздействиях: фракционного фототермолиза и испарении. Эти физические характеристики дают основу для выбора типа лазера из всего имеющегося на сегодня разнообразия лазерных систем. Выгодное отличие Nd:YАG-лазера состоит в том, что он может воздействовать на ткани организма до глубины нескольких милиметров без повреждающего