extends ../layout/main

block variables
  - var title = 'Melsytech';
  - var description = 'Description';
  - var pageClass = 'page--index';

block content
  //- .ruler--right
  section.intro
    .intro__bg
      //- img(src="./assets/intro-bg.jpg", alt="Melsytech")
      video(playsinline="playsinline",muted="muted", autoplay="autoplay", loop="loop", src="./assets/intro-video.mp4")
    .intro__content
      .intro__content-1
        p 
          | Разработка и&nbsp;поставка полупроводниковых 
          span лазерных систем 
          | для эстетической медицины, промышленного применения и&nbsp;научных целей
      .intro__content-2
        p МеЛСиТек международный разработчик, производитель и&nbsp;поставщик лазерных систем промышленного и&nbsp;медицинского назначения
      a(uk-scroll="offset: 72",href="#index-catalog").scrolldown
        .scrolldown__icon
          +svg({ name: 'arrow-down' })
        span Прокрутите вниз
  
  section#index-catalog.index__catalog.section
    .section__top 
      .index__catalog-subtitle.section__subtitle Каталог
    +product-catalog-section({title: 'Лазерные Системы MAGIC', catalogLink: true  })
  
  section.section.section--advantages
    .section__subtitle Преимущества
    .section__top
      h1.section__title.advantages__title
        | Благодаря новому 
        span инженерному решению 
        | и 
        span передовым 
        | технологиям, лазеры MAGIC 
        span лишены недостатков 
        | других косметологических лазеров
    .section__left.advantages__nav
      ul(uk-switcher="connect:.advantages__items; animation: uk-animation-slide-left-medium, uk-animation-slide-right-medium").advantages__list
        li: a(href="/").advantages__list-item Неограниченный ресурс
          +svg({name: 'arrow-right'})
        li: a(href="/").advantages__list-item Сервисная поддержка
          +svg({name: 'arrow-right'})
        li: a(href="/").advantages__list-item Надежность и безопасность
          +svg({name: 'arrow-right'})
        li: a(href="/").advantages__list-item Клиническое обучение
          +svg({name: 'arrow-right'})
        li: a(href="/").advantages__list-item Ценовая политика
          +svg({name: 'arrow-right'})
    .advantages__items.section__right.uk-switcher
      li: +advantage-item('Без расходных материалов на оборудование', 'В отличие от аналогов, медицинские лазеры MAGIC не имеет сменных узлов, расходные материалы не требуются, а его стоимость в 2,5-3 раза дешевле. Благодаря этому вы получаете невероятно низкую себестоимость процедур при таком же спектре возможностей.', 'advantages-item-1.png')
      li: +advantage-item('Сервисная поддержка', 'Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe atque, autem accusantium sapiente quaerat facilis.', 'advantages-item-1.png')
      li: +advantage-item('Надежность и безопасность', 'Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe atque, autem accusantium sapiente quaerat facilis.', 'advantages-item-1.png')
      li: +advantage-item('Клиническое обучение', 'Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe atque, autem accusantium sapiente quaerat facilis.', 'advantages-item-1.png')
      li: +advantage-item('Ценовая политика', 'Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe atque, autem accusantium sapiente quaerat facilis.', 'advantages-item-1.png')
  
  section.section.section--procedures
    .section__subtitle Процедуры
    +procedures-slider-section({class: '01', showDevices: true})

  section.section.section--reviews
    .section__top 
      .section__subtitle Отзывы
    .reviews__left.section__left
      h1.reviews__section-title.section__title Наши партнеры о&nbsp;нас
      a(href="/").section__link Перейти в раздел

    .reviews__right.section__right
      +reviews-slider()
    .reviews__slider-nav.slider__nav
      .slider__arrow.slider__arrow--left.reviews__slider-nav--left
        +svg({ name: 'slider-arrow-left'})
      .slider__arrow.slider__arrow--right.reviews__slider-nav--right
        +svg({ name: 'slider-arrow-right'})

  section.section.section--partners
    .section__top
      .section__subtitle Партнеры
    .partners__left.section__left
      h1.reviews__section-title.section__title Клиники использующие наши лазерные системы
      a(href="/").section__link Перейти в раздел
    .partners__right.section__right
      div(data-simplebar).partners__list
        ul 
          //- (uk-switcher="connect: .partners__drops")
          li.partners__item: a(href="#").partners__item-link.drop--01 Центр врачебной косметологии 
          li.partners__item: a(href="#").partners__item-link.drop--02 Центр врачебной косметологии 
          li.partners__item: a(href="#").partners__item-link.drop--03 Центр врачебной косметологии 
          li.partners__item: a(href="#").partners__item-link.drop--04 Центр врачебной косметологии 
          li.partners__item: a(href="#").partners__item-link.drop--05 Центр врачебной косметологии 
          li.partners__item: a(href="#").partners__item-link.drop--06 Центр врачебной косметологии 
          li.partners__item: a(href="#").partners__item-link.drop--06 Центр врачебной косметологии 
          li.partners__item: a(href="#").partners__item-link.drop--06 Центр врачебной косметологии 
          li.partners__item: a(href="#").partners__item-link.drop--06 Центр врачебной косметологии 
          li.partners__item: a(href="#").partners__item-link.drop--06 Центр врачебной косметологии 
          li.partners__item: a(href="#").partners__item-link.drop--06 Центр врачебной косметологии 
          li.partners__item: a(href="#").partners__item-link.drop--06 Центр врачебной косметологии 

      //- .partners__drops.uk-switcher
      //-   +partners-drop({num: '01', title: 'Сеть клиник лазерной эпиляции и косметологии «Подружки»', address: 'г. Нижний Новгород, Автозаводский район, ул. Краснодонцев, дом 5', phone: '8 (831) 260-16-63'})
      //-   +partners-drop({num: '02', title: 'Сеть клиник лазерной эпиляции и косметологии «Друзьяшки»', address: 'г. Нижний Новгород, Автозаводский район, ул. Краснодонцев, дом 5', phone: '8 (831) 260-16-63'})
      //-   +partners-drop({num: '03', title: 'Сеть клиник лазерной эпиляции и косметологии «Ребятки»', address: 'г. Нижний Новгород, Автозаводский район, ул. Краснодонцев, дом 5', phone: '8 (831) 260-16-63'})
      //-   +partners-drop({num: '04', title: 'Сеть клиник лазерной эпиляции и косметологии «Подружайки»', address: 'г. Нижний Новгород, Автозаводский район, ул. Краснодонцев, дом 5', phone: '8 (831) 260-16-63'})
      //-   +partners-drop({num: '05', title: 'Сеть клиник лазерной эпиляции и косметологии «Чикули»', address: 'г. Нижний Новгород, Автозаводский район, ул. Краснодонцев, дом 5', phone: '8 (831) 260-16-63'})
      //-   +partners-drop({num: '06', title: 'Сеть клиник лазерной эпиляции и косметологии «Бабешки»', address: 'г. Нижний Новгород, Автозаводский район, ул. Краснодонцев, дом 5', phone: '8 (831) 260-16-63'})
        
    .partners__map
      picture
        source(srcset="assets/partners-map-s.jpg", media="(max-width: 959px")
        img(src="/assets/partners-map.jpg", alt="")
  
  section.section.section--news
    .section__top 
      .news__subtitle.section__subtitle Новости
    .news__left.section__left
      h1.news__title.section__title События и деятельность компании
      a(href="/").news__link.section__link Перейти в раздел

    .news__right.section__right
      .news__slider.swiper-container
        ul.swiper-wrapper
          li.news__slider-item.swiper-slide: +news-teaser('Информированное согласие для оказания медицинских услуг','news-teaser-1.jpg','2020.07.20')
          li.news__slider-item.swiper-slide: +news-teaser('Росздравнадзор наносит удар по подделкам в аппаратной косметологии','news-teaser-2.jpg','2020.07.20')
          li.news__slider-item.swiper-slide: +news-teaser('Информированное согласие для оказания медицинских услуг','news-teaser-1.jpg','2020.07.20')
          li.news__slider-item.swiper-slide: +news-teaser('Росздравнадзор наносит удар по подделкам в аппаратной косметологии','news-teaser-2.jpg','2020.07.20')
      .news__slider-nav.slider__nav
        .slider__arrow.slider__arrow--left.news__slider-nav--left
          +svg({ name: 'slider-arrow-left'})
        .slider__arrow.slider__arrow--right.news__slider-nav--right
          +svg({ name: 'slider-arrow-right'})