extends ../layout/main

block variables
  - var title = 'Новости';
  - var description = 'Description';
  - var pageClass = 'page--news';

mixin news-menu(args)
  ul.news__sections(uk-scrollspy-nav="closest: li; scroll: true; offset: 100")
    li.news__sections-item.news__sections-item--order: a(href="") По порядку
    li.news__sections-item: a(href="#year2020") 2020
    li.news__sections-item: a(href="#year2019") 2019
    li.news__sections-item: a(href="#year2018") 2018

block content
  //- .ruler--right
  section.page-lead.page-lead--news
    .page-lead__content
      .page-lead__breadcrumbs.breadcrumbs
        +breadcrumb({name: 'О компании'})
      h1.page-lead__title События, новости компании
  
  section.page-content
    .page-content__sidebar
      .page-content__sidebar-sticky(uk-sticky="bottom: true; offset: 160")
        +news-menu()

    +mobile-nav-link({anchor: '#sidebar', name: 'Навигация'})

    .page-content__mainbar
      .news__section#year2020
        h2.news__section-title 2020
        div(uk-grid="margin: news__teaser--margin", class="uk-child-width-1-2@m")
          +news-teaser('Информированное согласие для оказания медицинских услуг','news-teaser-1.jpg','2020.07.20')
          +news-teaser('Информированное согласие для оказания медицинских услуг','news-teaser-1.jpg','2020.07.20')
          +news-teaser('Информированное согласие для оказания медицинских услуг','news-teaser-1.jpg','2020.07.20')
      .news__section#year2019
        h2.news__section-title 2019
        div(uk-grid="margin: news__teaser--margin", class="uk-child-width-1-2@m")
          +news-teaser('Информированное согласие для оказания медицинских услуг','news-teaser-1.jpg','2020.07.20')
          +news-teaser('Информированное согласие для оказания медицинских услуг','news-teaser-1.jpg','2020.07.20')
          +news-teaser('Информированное согласие для оказания медицинских услуг','news-teaser-1.jpg','2020.07.20')

  div(uk-offcanvas="overlay:true")#sidebar
    .uk-offcanvas-bar
      button.uk-offcanvas-close
        +svg({name: 'close'})
      .offcanvas__inner
        +news-menu()