extends ../layout/main

block variables
  - var title = 'Catalog';
  - var description = 'Description';
  - var pageClass = 'page--news';

block content
  //- .ruler--right
  section.page-lead.page-lead--news-detail

    .page-lead__content
      .page-lead__breadcrumbs.breadcrumbs
        +breadcrumb({name: 'Вернуться к новостям'})
      h1.page-lead__title Внутренний контроль качества и безопасности медицинской деятельности
      .page-lead__date 25 мая 2020
      .page-lead__socials
        a.page-lead__social(href="") fb
        a.page-lead__social(href="") vk
      
    .page-lead__images
      .page-lead__image
        img(src="./assets/news-detail-image.jpg", alt="")

  section.page-content
    .page-content__sidebar

    .page-content__mainbar.page-content__mainbar--border
      p В современных лазерных системах Magic используется специфическое воздействие светового пучка. Достигаемый эффект основан на двух различных воздействиях: фракционного фототермолиза и испарении. Эти физические характеристики дают основу для выбора типа лазера из всего имеющегося на сегодня разнообразия лазерных систем. Выгодное отличие Nd:YАG-лазера состоит в том, что он может воздействовать на ткани организма до глубины нескольких милиметров без повреждающего действия.
      p Достижение клинического эффекта происходит следующим образом. Во время вспышки происходит фотокавитация пигментов и коллагеновых волокон, находящихся в эпидермальных и дермальных слоях кожи. Иными словами, произошедший микровзрыв делает доступными для утилизации макрофагальной системой организма частиц пигмента, дефектных коллагеновых и фибриновых волокон. Активация процессов иммунитета и фагоцитоза в обработанной лазером области позволяет достичь желаемого эффекта по удалению чужеродных или дефектных структур из структур кожи и восстановить коллагеногенез и стимулировать ферментативную активность.