extends ../layout/main

block variables
  - var title = 'О компании';
  - var description = 'Description';
  - var pageClass = 'page--partners';

block content
  //- .ruler--right
  section.page-lead.page-lead--partners
    .page-lead__content
      .page-lead__breadcrumbs.breadcrumbs
        +breadcrumb({name: 'О компании'})
      h1.page-lead__title Партнеры
          
  section.partners-page__top
    ul.partners-page__switch(uk-switcher="connect: .uk-switcher")
      li.partners-page__switch-item: a(href="#") Карта
      li.partners-page__switch-item: a(href="#") Список
  
  section.partners-page__content
    .uk-switcher
      li
        .partners-page__map-wrap
          #map.partners-page__map
          .partners-page__filter
            select.form-control.js-choice()
              option(value="choice0") Choice0
              option(value="choice1") Choice1 Lorem ipsum dolor sit amet.
              option(value="choice2") Choice2
              option(value="choice3") Choice3
              option(value="choice4") Choice4
            
      li
        .partners-page__list
          section.page-content
            .page-content__sidebar
              .page-content__sidebar-sticky(uk-sticky="bottom: true; offset: 160")
                ul.sidebar__mnav(uk-nav)
                  li.sidebar__mnav-section.uk-parent.uk-open
                    a.sidebar__mnav-section-link(href="")
                      +svg({name: 'arrow-right'})
                      | Московская область
                    ul.sidebar__mnav-items
                      li.sidebar__mnav-items-item: a.sidebar__mnav-items-link(href="#app-epil") Москва
                      li.sidebar__mnav-items-item: a.sidebar__mnav-items-link(href="#app-omolozh") Балашиха
                      li.sidebar__mnav-items-item: a.sidebar__mnav-items-link(href="#app-pigment") Одинцово
                      li.sidebar__mnav-items-item: a.sidebar__mnav-items-link(href="") Коломна
                      li.sidebar__mnav-items-item: a.sidebar__mnav-items-link(href="") Красногорск
                      li.sidebar__mnav-items-item: a.sidebar__mnav-items-link(href="") Люберцы
                  li.sidebar__mnav-section.uk-parent
                    a.sidebar__mnav-section-link(href="")
                      +svg({name: 'arrow-right'})
                      | Ленинградская область
                    ul.sidebar__mnav-items
                      li.sidebar__mnav-items-item: a.sidebar__mnav-items-link(href="#app-0") Санкт-Петербург

                  li.sidebar__mnav-section.uk-parent
                    a.sidebar__mnav-section-link(href="")
                      +svg({name: 'arrow-right'})
                      | Нижегородская област
                    ul.sidebar__mnav-items
                      li.sidebar__mnav-items-item: a.sidebar__mnav-items-link(href="#app-0") Нижний Новгород


            .page-content__mainbar
              .partners-page__section
                .partners-page__section-title Московская область
                .partners-page__region
                  .partners-page__region-title Москва
                  .partners-page__region-items
                    +company-teaser({title: 'Медицинский центр косметологии и эпиляции «Доктор Лазер»', address1: 'г. Москва, Петровский бульвар, 21 <br>8 (495) 178-00-20', address2: 'г. Москва, Мичуринский проспект, 25к2<br>8(495) 932-58-00', address3: 'г. Москва, посёлок завода Мосрентген, 37<br>8 (495) 645-25-95'})
                    +company-teaser({title: 'Медицинский центр косметологии и эпиляции «Доктор Лазер»', address1: 'г. Москва, Петровский бульвар, 21<br>8 (495) 178-00-20', address2: 'г. Москва, Мичуринский проспект, 25к2<br>8(495) 932-58-00', address3: 'г. Москва, посёлок завода Мосрентген, 37<br>8 (495) 645-25-95'})
                .partners-page__region
                  .partners-page__region-title Балашиха
                  .partners-page__region-items
                    +company-teaser({title: 'Медицинский центр косметологии и эпиляции «Доктор Лазер»', address1: 'г. Москва, Петровский бульвар, 21<br>8 (495) 178-00-20', address2: 'г. Москва, Мичуринский проспект, 25к2<br>8(495) 932-58-00', address3: 'г. Москва, посёлок завода Мосрентген, 37<br>8 (495) 645-25-95'})
                    +company-teaser({title: 'Медицинский центр косметологии и эпиляции «Доктор Лазер»', address1: 'г. Москва, Петровский бульвар, 21<br>8 (495) 178-00-20', address2: 'г. Москва, Мичуринский проспект, 25к2<br>8(495) 932-58-00', address3: 'г. Москва, посёлок завода Мосрентген, 37<br>8 (495) 645-25-95'})


