include ../utils/mixins

block variables

doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    title #{title}
    meta(name="description", content=description)
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    block head

  body(class=pageClass)
    .preloader
      .preloader__logo 
        svg(viewbox='0 0 652 129', fill='none', xmlns='http://www.w3.org/2000/svg').preloader__logo-desktop
          path(d='M68.5 81.6L93.2 38.8L100.2 42.8L75.5 85.6L104.4 68.9L108.4 75.9L79.5 92.6H122.5C126.7 84.1 129 74.5 129 64.4C129 30.1 102.3 2.1 68.5 0V81.6Z', fill='#E30613')
          path(d='M11.2 100.6C22.8 117.6 42.4 128.8 64.5 128.8C86.7 128.8 106.2 117.6 117.8 100.6H11.2Z', fill='#E30613')
          path(d='M54.8 92.6L27.4 65.3L33.1 59.6L60.4 86.9V0C26.7 2.1 0 30.1 0 64.4C0 74.5 2.3 84 6.5 92.6H54.8Z', fill='#E30613')
          path(d='M197.6 52.7C199.9 60 202.4 69.1 204.4 77.1H204.6C206.8 69.1 209.4 60.1 211.7 52.7L221 24.2H247.2V96.3H231V67.4C231 58.5 231.1 45.9 231.3 36.2H231.1C228.8 44.3 225.1 56.9 222.9 63L211.2 96.4H196.1L184.8 63C183.7 59.7 178.4 42.7 176.5 36.1H176.3C176.5 45.8 176.7 58.4 176.7 67.3V96.2H161.3V24.2H188.6L197.6 52.7Z', fill='black')
          path(d='M272.2 74.2C272.6 81.2 278.6 86.1 288.3 86.1C294 86.1 299.4 84.8 304.3 82L304.6 94.2C300.1 96.5 293.5 97.8 286.4 97.8C268.2 97.8 256 87.5 256 69.6C256 53.2 267.3 41.7 284.1 41.7C299.9 41.7 308.8 51 308.8 70.4C308.8 71.2 308.7 73.5 308.6 74.2H272.2ZM294.2 64C294.2 56 290.2 52.5 283.8 52.5C277.9 52.5 273 56.4 272.1 64H294.2Z', fill='black')
          path(d='M332.9 96.4H316.6V18.3H332.9V96.4Z', fill='black')
          path(d='M379.3 55.9C374.3 53.6 370 52.6 365.5 52.6C360.9 52.6 357.8 54.5 357.8 57.7C357.8 60.7 359.6 61.8 367.6 64C376.7 66.5 383.7 69.8 383.7 80.2C383.7 91.5 374.4 97.7 360.4 97.7C354.8 97.7 348.3 96.9 342.5 94.9L343.3 82.7C349.1 85.4 354.9 86.5 359.7 86.5C364 86.5 367.8 84.7 367.8 81.4C367.8 78.3 366.1 77.1 357.5 74.5C346.7 71.4 342.2 67.4 342.2 58.7C342.2 48.3 350.8 41.7 364.6 41.7C370.9 41.7 376.2 42.5 380.6 44.4L379.3 55.9Z', fill='black')
          path(d='M442.9 43L421.6 99.6C416.8 112.4 409.7 119.3 397.6 119.3C394 119.3 390.5 118.8 387.5 118L388.6 105.8C391.2 106.5 393.2 106.8 395.5 106.8C399.4 106.8 402.9 104.7 404.9 98.2L384.3 43H401.9L413.6 83.6L426.3 43H442.9Z', fill='black')
          path(d='M445.8 42.9H456.5V31.2L471.8 26V42.8H484.6V54.3H471.8V75.2C471.8 80.8 472.9 85.1 479.5 85.1C481.4 85.1 483.3 84.9 485 84.4L485.4 95.8C482.3 96.6 478.4 97 475 97C461.8 97 456 91 456 77.3V54.3H445.8V42.9Z', fill='black')
          path(d='M505.2 74.2C505.6 81.2 511.6 86.1 521.3 86.1C527 86.1 532.4 84.8 537.3 82L537.6 94.2C533.1 96.5 526.5 97.8 519.4 97.8C501.2 97.8 489 87.5 489 69.6C489 53.2 500.3 41.7 517.1 41.7C532.9 41.7 541.8 51 541.8 70.4C541.8 71.2 541.7 73.5 541.6 74.2H505.2ZM527.2 64C527.2 56 523.2 52.5 516.8 52.5C510.9 52.5 506 56.4 505.1 64H527.2Z', fill='black')
          path(d='M587.8 55.9C584.9 54.8 582 54.1 578.7 54.1C569.5 54.1 564 60.3 564 69.6C564 79 569.2 84.9 579 84.9C582.2 84.9 585.1 84.5 588.4 83L589 95.3C584.8 96.6 581.4 97.2 576.7 97.2C558.8 97.2 547.3 86.7 547.3 69.6C547.3 52.8 559.9 42.2 576.3 42.2C581.3 42.2 585.2 42.6 588.9 43.9L587.8 55.9Z', fill='black')
          path(d='M613.4 52C617.3 45.9 623.3 41.7 631 41.7C644.6 41.7 651.1 50.4 651.1 64.9V96.4H635V70.9C635 60.9 633.6 54.7 625.7 54.7C616.4 54.7 613.6 63 613.6 72.9V96.4H597.5V18.3H613.5V39.7C613.5 43.4 613.4 48.2 613.2 52H613.4Z', fill='black')

        svg(viewbox='0 0 101 101', fill='none', xmlns='http://www.w3.org/2000/svg').preloader__logo-small
          path(d='M53.6318 63.9876L72.9705 30.4255L78.4512 33.5621L59.1124 67.1242L81.7395 54.0287L84.8713 59.5179L62.2442 72.6133H95.9108C99.1992 65.948 101 58.42 101 50.5C101 23.6033 80.0953 1.64674 53.6318 0V63.9876Z', fill='#E30613')
          path(d='M8.76898 78.8866C17.8512 92.2173 33.1969 101 50.5 101C67.8814 101 83.1488 92.2173 92.231 78.8866H8.76898Z', fill='#E30613')
          path(d='M42.9054 72.6133L21.4527 51.2057L25.9155 46.736L47.2899 68.1436V0C20.9047 1.64674 0 23.6033 0 50.5C0 58.42 1.80078 65.8696 5.08915 72.6133H42.9054Z', fill='#E30613')

    include ../includes/modules/header
    main.main
      block content
    include ../includes/modules/footer
    //- include ../includes/modules/scrolltop
    include ../includes/modules/offcanvas

    block script