:root {
  --font-main: Natasha, sans-serif;

  --font-size: 1.6rem; //14px
  --line-height: 1.5;
  --text-small: 12px; // 12px
  --text-large: 16px; // 16px;
  --text-lead: 18px;
  --line-height-small: 1.5em;


  --margin: 16px; //small
  --margin-m: 24px;
  --margin-2: calc(var(--margin) * 2);
  --margin-3: calc(var(--margin) * 3);
  --margin-15: calc(var(--margin) * 1.5);

  --color-black: #000;
  --color-white: #fff;

  --color-muted: rgba(0, 0, 0, 0.6);
  --color-header: #9d9e9f;

  --color-accent: #0074d3;
  --color-accent-light: #94c2e9;

  --color-dark: #323334; // dark-gray bg. header
  --color-light: #f6f7f8; // light-gray bg
  --color-border: #cbcbcb;

  --radius: 3px;

  --box-shadow: 0 10px 40px rgba(0, 80, 146, 0.2);
  --transition: 0.2s ease;

  @media (min-width: $breakpoint-small) {
    --gutter: 28px;
  }
  @media (min-width: $breakpoint-large) {
    --gutter: 40px;
  }
}

$color-white: #fff;
$color-black: #272730;
$color-gray: #2b2e3f;
$color-red: #ff0000;
$color-light-gray: #F3F1F;
$color-gradient-1: #dbe1e8;
$color-gradient-2: #b48396;

$grid-breakpoints: (
  xxxs: 0,
  xxs: 320px,
  xs: 568px,
  sm: 667px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px,
  xxxl: 1600px,
);
$container-max-widths: (
  xxxs: 0,
  xxs: 320px,
  xs: 568px,
  sm: 667px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px,
  xxxl: 1600px,
);

$base-font-size: 10px; //1 rem

// $screen-sm-min: 576px;
// $screen-md-min: 768px;
// $screen-lg-min: 992px;
// $screen-xl-min: 1200px;

$mobile-breakpoint: 768px;
$mobile-min-width: 375px;
$mobile-min-height: 667px;

$fhd-width: 1920px;
$fhd-height: 1080px;

$container-margin: percentage(80 / 1920);
$header-height: 72px;
