:root {
	--font-main: Natasha, sans-serif;
	
	--font-size: 1.6rem; //14px
	--line-height: 1.5;
	--text-small: 12px; // 12px
	--text-large: 16px; // 16px;
	--text-lead: 18px;
	--line-height-small: 1.5em;

	--gutter: 16px;

	--gutter-small: 16px;
	--gutter-medium: 28px;
	--gutter-large: 40px;

	--margin: 16px; //small

	--margin-m: 24px;
	--margin-2: calc(var(--margin) * 2);
	--margin-3: calc(var(--margin) * 3);
	--margin-15: calc(var(--margin) * 1.5);

	--color-black: #000;
	--color-white: #fff;

	--color-muted: rgba(0,0,0,0.6);
	--color-header: #9d9e9f;

	--color-accent: #0074d3;
	--color-accent-light: #94c2e9;

	--color-dark: #323334; // dark-gray bg. header
	--color-light: #f6f7f8; // light-gray bg
	--color-border: #cbcbcb;

	--radius: 3px;

	--box-shadow: 0 10px 40px rgba(0,80,146,0.2);
	--transition: 0.2s ease;

	@media (min-width: $breakpoint-small) {
		--gutter: 28px;
	}
	@media (min-width: $breakpoint-large) {
		--gutter: 40px;
	}
}



a {
	color: var(--color-accent);
	transition: color var(--transition);

	&:hover {
		text-decoration: none;
		color: var(--color-accent-light);
	}
	&:focus {
		// text-decoration: underline solid rgba(0,0,0,0.1);
	}
}


h1, h2, h3, h4 {
	font-weight: 700;
}

h1, .uk-h1 {
	


}


h2, .uk-h2 {

}

h3 {

}

h4 {

}

